@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(316, 88%, 51%);
  --clr-primary-2: hsl(325, 100%, 11%);
  --clr-primary-3: hsl(293, 91%, 83%);
  --clr-primary-4: hsl(315, 96%, 71%);
  /* primary/main color */
  --clr-primary-5: hsl(324, 96%, 33%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(106, 87%, 50%);
  --clr-primary-7: hsl(198, 82%, 49%);
  --clr-primary-8: hsl(208, 74%, 52%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(244, 100%, 14%);
  --clr-grey-2: hsl(211, 98%, 19%);
  --clr-grey-3: hsl(209, 100%, 24%);
  --clr-grey-4: hsl(209, 100%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(209, 98%, 82%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: var(--transition);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  body {
    font-size: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-3);
}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    max-width: 95vw;
  }
}

/* nav */
.nav {
  background: linear-gradient(var(--clr-primary-5), var(--clr-grey-1));
  color: var(--clr-grey-9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.nav-logo h1 {
  font-size: 1.5rem;
  text-align: center;
}
.nav-logo {
  display: block;
  margin-left: 2rem;
}
.nav form {
  margin-right: 1rem;
  display: block;
}
.nav form input {
  margin-right: 1rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
}
.nav-content {
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 750px) {
  .nav-content {
    width: 90vw;
    max-width: 900px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    height: 10vh;
  }
}

.body {
  background-color: var(--clr-grey-1);
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-basic {
  width: 80vw;
  max-width: 950px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.weather-Icon {
  height: 150px;
  width: 150px;
  margin: 0 4rem;
}
@media screen and (min-width: 800px) {
  .body {
    height: 90vh;
  }
  .today-basic {
    flex-direction: row;
    justify-content: space-around;
  }
}

#myVideo {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.more-info,
.basic-info {
  z-index: 2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card {
  background: rgba(11, 15, 15, 0.3);
  border-radius: 1rem;

  padding: 1rem;
  min-height: fit-content;
  margin-bottom: 1.5rem;
}

.card h4 {
  color: var(--clr-primary-2);
}
@media screen and (min-width: 800px) {
  .more-info,
  .basic-info {
    z-index: 2;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
